<div class="container mx-auto px-4">
  <div
    class="footerimg border border-black p-5 w-full h-[572px] bg-cover bg-center flex bg-[url('/images/footer.png')]"
  >
    <div class="below flex flex-col mt-24 ml-10">
      <img class="imgfooter w-48 h-48" src="/images/logo.png" alt="" />
      <h1 class="text-gray-700 text-4xl font-bold">KIDZSTAR</h1>
      <h5 class="mt-1 text-left w-96 text-gray-700 text-xl font-light">
        It is our goal to provide age-appropriate opportunities for every child
        enrolled in Kidzstar enrichment classes.
      </h5>
      <p class="text-gray-700">© 2025 Kidzstar. All Rights Reserved.</p>
    </div>

    <div class="footer2 flex flex-col mt-24 ml-10">
      <div class="details1 flex flex-col mt-5 text-gray-700">
        <h3>About Us</h3>
        <h3>Course</h3>
        <h3>Contact Us</h3>
        <h3>Gallery</h3>
        <h3>Admission</h3>
      </div>
    </div>

    <div class="footer3 flex flex-col mt-24 ml-10">
      <div class="details2 flex flex-col mt-5 text-gray-700">
        <h3>Recently Viewed</h3>
        <h3>New Programs</h3>
        <h3>Curriculums</h3>
        <h3>Career</h3>
        <h3>School Staffs</h3>
      </div>
    </div>

    <div class="footer4 flex flex-col w-screen items-center mt-24 ml-36 text-gray-700">
      <h2 class="text-xl font-semibold text-center">
        Thane-Sawarkar Nagar <br />& Indira Nagar, Koparkhairane
      </h2>
      <p>9321002881 / 9323331360 / 7304344802</p>
      <div class="w-full h-96 rounded-lg shadow-lg overflow-hidden">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1332.0886961548667!2d72.95308237777326!3d19.20761149776563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b9734b5b967d%3A0x5392586d568e0581!2sSavarkar%20Nagar%2C%20Thane%20West%2C%20Thane%2C%20Maharashtra%20400606!5e0!3m2!1sen!2sin!4v1742108769485!5m2!1sen!2sin" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
  </div>
  
</div>
