<link rel="stylesheet" href="/css/navbar.css" />
<div class="navbar">
    <div class="navbar-inner">
        <div class="logo">
            <a href="/">
                <img class="logoimg" src="/images/logo.png" alt="logo" />
            </a>
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="nav-links">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Programs</a>
            <a href="#">Pages</a>
            <a href="#">Contact</a>
            <a href="#">Gallery</a>
            <a href="#">Departments</a>
            <a href="#">Teacher's Training Courses</a>
        </nav>
        <div class="apply-btn">
            <a href="/admission"><button class="btn btn-primary">Book a Visit</button></a>
        </div>
    </div>
</div>
