<!-- <h1>Admission Form</h1>
<form action="/admission" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="tel" name="phone" placeholder="Your Phone" required>
    <input type="text" name="childName" placeholder="Child's Name" required>
    <input type="number" name="childAge" placeholder="Child's Age" required>
    <textarea name="message" placeholder="Additional Message"></textarea>
    <button type="submit">Apply</button>
</form> -->
<div class="curve">
    <img class="curvee" src="/images/curve4.png" alt="curve" />
  </div> 
<style>

@keyframes waveAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.curvee {
    animation: waveAnimation 1.5s ease-in-out infinite;
}



</style>