<header>
    <%- include('partials/navbar') %>
</header> 
<section>
    <div class="container">
        <div class="row">
            <%- include('partials/update') %>

        </div>
    </div>
</section>