
<header>
    <%- include('partials/navbar') %>
</header>
<section class="flex justify-center items-center ml-[270px] ">
    <div class="container">
        <div class="row">
            <br>    
            <%- include('partials/update') %>

        </div>
    </div>
</section>