<h1>Application Submitted!</h1>
<p>Thank you for applying. We will contact you soon.</p>
<div class="form mt-[100px] ml-[10px] bg-black p-[50px] rounded-[10px] w-[511px] h-[1130px]">
    <h1 class="text-white text-4xl font-bold">Home</h1>
    <a href="/"><button class="bg-white w-[100px] h-[50px]">submit</button></a>
</div>